Source: cloud-agent
Section: python
Priority: optional
Maintainer: thomas.li <thomas.li@sinobot.com.cn>
Build-Depends: debhelper (>= 7), python-support (>= 0.6), python-setuptools, pylint
Homepage: http://www.sinobot.com.cn
Standards-Version: 3.8.3

Package: cloud-agent
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Provides: ${misc:Depends}
XB-Python-Version: ${python:Versions}
Description: cloudbot configuration agent
